.side_bar 
  .side_bar__header
    -# .side_bar__header__list
    .side_bar__header__user-name
      = current_user.name
    .side_bar__header__iconlist
      .side_bar__header__icon
        = link_to new_group_path(current_user) do
          = icon('far','edit', class: 'edit-btn')
      .side_bar__header__icon
        = link_to edit_user_path(current_user) do
          = icon('fas','cog', class: 'cog-btn')
  .side_bar__group-list
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group_name
            = group.name
          .group_message
            = group.show_last_message


